#allies-bar {
    overflow: auto;
    height: 65;
    white-space: nowrap;
    margin: auto;
    width: 45%;
    padding: 10px;
    margin-top: 5rem;
    /* border: 1px solid #666;
    border-radius: 1%; */
   
}
