.footer {
    min-height: 50px;
    background: #9c4efa;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer span {
    color: #231f20;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    right : 0;
    padding: 3px;
}