.footer {
    position: fixed;
    background: #bb86fc;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer span {
    color: #231f20;
    font-weight: bold;
    bottom: 0;
    left: 0;
    right : 0;
    padding: 3px;
}