.footer {
    min-height: 50px;
    position: fixed;
    background: #9c4efa;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer span {
    color: #e1e1e1;
    font-weight: bold;
    bottom: 0;
    left: 0;
    right : 0;
    padding: 3px;
}